*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #87CEFA;
    /* background-color: rgb(255, 255, 255); */
}
.contener .nav{
    width: 100vw;
    background-color: #1E90FF;
    color: white;
}
.contener #header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.main-contener{
    width: 670px;
    height: 170px;
    margin: 0 auto;
    border: 1px solid #919191;
    border-radius: 10px;
    background: rgba(221, 221, 221, 0.9);
    box-shadow: rgba(11, 55, 138, 0.5) 0px 4px 12px;

    display: flex;
    justify-content: center;
}
.box{
    min-width: 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
}
.eql-sign span{
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 0 15px;
}
.text-contener {
    text-align: center;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.main-contener input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #919191;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 20px;
}
.units{
    height: 30px;
    width: 260px;
    margin-top: 20px;
    font-size: 1.2em;
    outline: 0;
    border: 1px solid #919191;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px inset;
}

