*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    background-color: #87CEFA;
}
.contener{
    border-right: 1px solid #000;
}
.contener .nav{
    width: 100vw;
    background-color: #1E90FF;
    color: white;
}
.contener #header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head div{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head h1{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 20px;
}
.head label{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
    display: block;
}
.head input{
    width: 250px;
    height: 25px;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
}
/* linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%) */

